/*

    En este proyecto pense en realizar la pagina solo con flexbox.

*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
@import url("https://file.myfontastic.com/enaLYurCgMS5htaR7MNQRR/icons.css");
:root {
  --green: #6b8c42;
  --gray: #e9e4e6;
  --light-gray: #f6f5f5;
  --black: #1d1919; }

.head__navegation, .main .articles__container__cart__info, .main .about__container__info, .foot__info__span, .navegation__list__item__link--head, .navegation__list__item__link--foot {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400; }

.head__logo, .head__titles, .main .articles__title, .main .about__container__title, .foot__info__title, .foot__info__form__input {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

.head__titles__subtitle::before, .main .articles__title::before, .main .articles__container__cart__info::before, .main .about__container__title::before {
  content: "";
  display: inline-block;
  border-bottom: 5px solid var(--green);
  position: absolute; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh; }

img {
  display: inline-block;
  width: 80px; }

ul {
  list-style: none; }

a {
  display: inline-block; }

.container-box {
  padding: 0 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.head {
  background: var(--light-gray);
  width: 100%;
  padding: 1em;
  position: relative; }
  .head__banner {
    width: 100%;
    height: 60vh; }
  .head__logo {
    color: var(--light-green);
    font-size: 2rem;
    margin: .5em 0 0 .75em;
    position: absolute;
    top: 0;
    left: 0; }
  .head__titles {
    color: var(--green);
    width: 96.5%;
    position: absolute;
    top: 40%; }
    .head__titles__title {
      font-size: 5rem;
      line-height: 70px;
      display: flex;
      justify-content: center; }
    .head__titles__subtitle {
      padding: 1px;
      color: var(--black);
      display: flex;
      justify-content: center;
      position: relative; }
      .head__titles__subtitle::before {
        width: 70px;
        color: var(--green);
        bottom: -5px; }
  .head__navegation {
    color: var(--light-green);
    margin: 1.5em 2em 0 0;
    position: absolute;
    top: 0;
    right: 0; }

.main {
  background: var(--gray); }
  .main .articles {
    margin: 0 1em; }
    .main .articles__title {
      color: var(--green);
      text-align: center;
      margin-top: 2em;
      display: flex;
      justify-content: center;
      position: relative; }
      .main .articles__title::before {
        width: 50px;
        bottom: -5px; }
    .main .articles__container {
      margin-top: 3em;
      display: flex;
      justify-content: space-around; }
      .main .articles__container__cart {
        background: var(--light-gray);
        width: 30%; }
        .main .articles__container__cart__image {
          width: 100%; }
        .main .articles__container__cart__info {
          color: var(--green);
          text-align: center;
          padding: 70px 40px;
          position: relative;
          display: flex;
          justify-content: center; }
          .main .articles__container__cart__info::before {
            width: 25px;
            top: 28%; }
  .main .about {
    background: var(--light-gray);
    margin-top: 4em;
    display: flex;
    justify-content: space-between; }
    .main .about__image {
      width: 40%;
      height: 30%; }
    .main .about__container {
      width: 100%;
      padding: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main .about__container__title {
        color: var(--green);
        position: relative;
        display: flex;
        justify-content: center; }
        .main .about__container__title::before {
          width: 50px;
          bottom: -5px; }
      .main .about__container__info {
        text-align: center;
        color: var(--black);
        padding-top: 2em; }

.foot {
  background: var(--gray);
  width: 100%; }
  .foot__info {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .foot__info__title {
      color: var(--green); }
    .foot__info__span {
      color: var(--green); }
    .foot__info__form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .foot__info__form__input {
        line-height: 50px;
        color: var(--black);
        background: var(--light-gray);
        width: 300px;
        padding-left: 1em;
        border: none;
        border-radius: 3px; }
  .foot__final {
    background: var(--light-gray);
    line-height: 7em;
    display: flex;
    justify-content: space-between; }

.btn {
  color: var(--green);
  line-height: 2.5em;
  background: none;
  border: none;
  padding: 0 1.5em;
  border: 1px solid var(--green); }

.btn--foot {
  margin-top: 1em;
  margin-bottom: 5em; }

.navegation__list {
  display: flex; }
  .navegation__list__item__link {
    text-decoration: none; }

.navegation__list__item--head:last-child {
  padding: 0 5px;
  border: 1px solid var(--green); }

.navegation__list__item--head {
  margin-left: 1em; }

.navegation__list__item__link--head {
  color: var(--green); }

.navegation__list__item--foot {
  margin-right: 2em; }

.navegation__list__item__link--foot {
  color: var(--green); }

.icon {
  display: none; }
  .icon .fa-bars {
    color: var(--black);
    font-size: 2em; }

.fab {
  font-size: 2em;
  margin-left: 0.5em;
  color: var(--green); }

@media (max-width: 480px) {
  .container-box {
    padding: 0; }
  .head {
    width: 99%; }
    .head__logo {
      display: none; }
  .navegation--head {
    display: none; }
  .main .articles__container {
    flex-direction: column; }
    .main .articles__container__cart {
      margin-top: 1em;
      width: 100%; }
  .main .about {
    margin: 1em;
    margin-bottom: none;
    flex-direction: column; }
    .main .about__image {
      width: 100%; }
    .main .about__container {
      padding: 3em;
      flex-direction: column; }
  .navegation__list--foot {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navegation__list__item--foot {
    margin-top: 1.5em;
    margin-right: 0;
    line-height: 1em; }
  .navegation__list__item__link--foot {
    text-align: center; }
  .icon {
    display: inline; }
  .foot__final {
    flex-direction: column;
    align-items: center; }
  .foot__final__icons {
    order: 1; } }

@media (max-width: 1024px) {
  .container-box {
    padding: 0; }
  .navegation--head {
    display: none; }
  .icon {
    display: inline; } }

.navegation__list__item__link--foot:hover {
  text-decoration: underline; }

.navegation__list__item--head:last-child:hover {
  background: var(--green);
  transition: .5s; }

.navegation__list__item__link--head:hover {
  text-decoration: underline; }

.navegation__list__item--head:last-child:hover .navegation__list__item__link--head {
  color: var(--gray);
  text-decoration: none; }

.articles__container__cart:hover {
  box-shadow: 0 0 8px var(--green);
  cursor: pointer; }

.btn:hover {
  color: var(--gray);
  background: var(--green);
  transition: .5s; }

.fa-facebook:hover {
  color: #3b5999;
  transition: .5s; }

.fa-twitter-square:hover {
  color: #55acee;
  transition: .5s; }

.fa-google-plus-square:hover {
  color: #dd4b39;
  transition: .5s; }

.fa-pinterest-square:hover {
  color: #bd081c;
  transition: .5s; }
